---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <section
            class="container-404 container mx-auto place-content-center grid place-items-center h-screen"
        >
            <div class="wrapper-404">
                <h1>404</h1>
                <div
                    class="info-links absolute right-0 left-0 mx-auto text-center"
                >
                    <h2 class="mb-10">Page not found</h2>
                    <a href="/">Back home?</a>
                </div>
            </div>
        </section>
    </main>
</Layout>
