---
import '@fontsource-variable/josefin-sans';
import '@fontsource/ubuntu-mono';
import Head from '../components/Head.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body>
        <slot />
    </body>
</html>
