---
import '../styles/global.css';
import Head from '../components/Head.astro';
import { PosthogProvider } from '../components/PosthogProvider.tsx';
---

<!doctype html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body>
        <PosthogProvider client:only="preact" />
        <slot />
    </body>
</html>
